#container {
  max-width: 400px;
  margin:0 auto;
}

blockquote {
  display:block;
  position:relative;
  overflow:hidden;
  transition: all 0.5s ease-in;
}

blockquote[data-state="closed"] {
  max-height:100px;
}

blockquote[data-state="open"] {
  max-height:1500px;
  padding-bottom:50px;
}

blockquote[data-state="open"] .bqe-expander {
  transform: rotate(180deg);
}

blockquote[data-state="open"] .bqe-expander:hover {
  transform: rotate(180deg) scale(0.9);
}

.bqe-gradient {
  display:block;
  position:absolute;
  bottom:0px;
  background:linear-gradient(0deg,rgb(255,255,255) 35%, #000 36%, rgba(255,255,255, 1) 37%, rgba(255,255,255,0));
  width:100%;
  height:60px;
}

.bqe-expander {
  display:block;
  position:absolute;
  font-style: normal;
  left:calc(50% - 20px);
  bottom:0px;
  background: #fff;
  border:1px solid #ccc;
  border-radius:50%;
  border:1px solid #7b7b7b;
  width:40px;
  height:40px;
  text-align:center;
  line-height:40px;
  font-size:1.5em;
  color:#000;
  cursor:pointer;
  transition: all 0.1s ease;
}

.bqe-expander:hover {
    transform:scale(0.9);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
}